/* Ansökningssidan */
*  !title {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=1158&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
  width: 700px;
  height: 800px;;
  background: white;
  margin-left: 350px;
  margin-top: 100px;
}

.form h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 300px;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 100px;
}


.flex-outer  li label {
  flex: 1 0 120px;
  max-width: 220px;
}


.form {
  display: inline-flex;
  flex-direction: column;
  padding-top: 50px;
}
