 * {
   margin: 0;
   padding: 0;
 }

 body {
   margin: auto;
   font-family: 'Open Sans', sans-serif;
   width: 100%;
   box-sizing: border-box;
 }

 header {
   height: 100px;
   background-color: #4688b8;
   width: 100%;
   position: fixed;
   display: block;
 }

 .logo {
   float: left;
   padding-top: 30px;
   padding-left: 100px;
   color: #fff;
 }

 .logo a {
   color: #fff;
   text-decoration: none;
 }

 .logo a:hover {
   color: red;
 }

  .navbar ul {
    padding-right: 100px;
  }
 .navbar ul li {
   padding-top: 40px;
   display: inline;
   float: right;
 }

 .navbar ul li a {
   padding: 10px;
   text-transform: uppercase;
   color: #fff;
   text-decoration: none;
 }

 .navbar ul li a:hover {
   text-decoration: underline;
 }

 .hero-image {
   background-image: url("img/skyline-across-the-lake-in-stockholm.jpg");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100vh;
 }

 main {
   margin: auto;
   width: 70%;
 }

 .om {
   padding-top: 100px;
   margin: auto;
   width: 100%;
   text-align: center;
   line-height: 2em;
 }

 .om h1 {
   padding-bottom: 20px;
 }

 .utbildningar {
   margin: 0;
   padding-top: 100px;
   text-align: center;
 }

 .cards {
   margin: 0 auto;
   max-width: 1000px;
   text-align: left;
   padding-top: 20px;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 340px;
   grid-gap: 20px;
   text-align: center;
 }

 .cards p {
   text-align: left;
   padding: 10px;
 }

 .cards img {
   width: 250px;
   height: auto;
 }

 .card-1 {
   grid-column:
 }

 .login {
   margin-top: 50px;
   background-color: #4688b8;
 }

 .login form {
   display: inline;
 }

 .login input {
   display: inline
 }

 footer {
   padding-top: 100px;
   margin: 0;
   display: inline;
 }

 .footer-1 {
   display: inline;
   width: 50%;
 }

 .footer-2 {
   display: inline;
   width: 50%;
 }
